<div class="flex flex-col h-full">
  <div class="flex items-center justify-center h-full">
    <div class="w-full h-full flex items-center justify-center">
      <qr-code></qr-code>
    </div>
    <div class="w-full h-full flex items-center justify-center">
      <money-counter></money-counter>
    </div>
  </div>
  <div class="flex align-middle justify-center">
    <div
      class="p-6 text-center roboto-bold"
      [ngStyle]="{ color: '#' + randomColor }"
    >
      <p>{{ time$ | async | date : "fullDate" }}</p>
      <p class="text-5xl">{{ time$ | async | date : "mediumTime" }}</p>
    </div>
  </div>
</div>
