<div class="flex flex-col h-full">
  <div class="flex items-center justify-center h-full">
    <div class="w-full h-full flex items-center justify-center">
      <qr-code></qr-code>
    </div>
    <div class="w-full h-full flex items-center justify-center">
      <money-counter></money-counter>
    </div>
  </div>
  <!-- <div class="flex align-middle justify-center">
    <div class="p-6 text-center" [ngStyle]="{ color: '#' + randomColor }">
      <p class="text-2xl uppercase">День Вишиванки</p>
      <p class="text-slate-500">2024</p>
    </div>
  </div> -->
</div>
