@keyframes randomShadow {
  0% {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  5% {
    text-shadow: 5px -8px 5px rgba(0, 0, 0, 0.1);
  }
  10% {
    text-shadow: -6px 6px 3px rgba(0, 0, 0, 0.1);
  }
  15% {
    text-shadow: 8px -5px 10px rgba(0, 0, 0, 0.1);
  }
  20% {
    text-shadow: -7px 4px 2px rgba(0, 0, 0, 0.1);
  }
  25% {
    text-shadow: 6px -9px 9px rgba(0, 0, 0, 0.1);
  }
  30% {
    text-shadow: -10px 8px 6px rgba(0, 0, 0, 0.1);
  }
  35% {
    text-shadow: 7px -4px 3px rgba(0, 0, 0, 0.1);
  }
  40% {
    text-shadow: -8px 3px 7px rgba(0, 0, 0, 0.1);
  }
  45% {
    text-shadow: 10px -7px 8px rgba(0, 0, 0, 0.1);
  }
  50% {
    text-shadow: -5px 9px 4px rgba(0, 0, 0, 0.1);
  }
  55% {
    text-shadow: 9px -6px 6px rgba(0, 0, 0, 0.1);
  }
  60% {
    text-shadow: -6px 10px 5px rgba(0, 0, 0, 0.1);
  }
  65% {
    text-shadow: 4px -10px 7px rgba(0, 0, 0, 0.1);
  }
  70% {
    text-shadow: -9px 5px 2px rgba(0, 0, 0, 0.1);
  }
  75% {
    text-shadow: 6px -7px 8px rgba(0, 0, 0, 0.1);
  }
  80% {
    text-shadow: -8px 9px 6px rgba(0, 0, 0, 0.1);
  }
  85% {
    text-shadow: 7px -5px 9px rgba(0, 0, 0, 0.1);
  }
  90% {
    text-shadow: -10px 6px 4px rgba(0, 0, 0, 0.1);
  }
  95% {
    text-shadow: 5px -9px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    text-shadow: -7px 10px 5px rgba(0, 0, 0, 0.1);
  }
}

.text-shadow-animation {
  animation: randomShadow 5s infinite;
}
