@if(table$ | async; as table){
<p-table
  [value]="table.parentConfig"
  responsiveLayout="fixed"
  styleClass="p-datatable-sm p-datatable-gridlines"
  class="table-fixed"
  [scrollable]="true"
>
  <ng-template pTemplate="header">
    <tr pFrozenColumn>
      @for(header of table.headerKeys; track header){
      <th class="text-center">
        <h3 class="m-0 p-0 uppercase">{{ header }}</h3>
      </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-parentConfig>
    <tr>
      <td [attr.colspan]="table.itemsCount">
        @switch(parentConfig.type){
          @case (configTypes.ConfigGroup) {
        <diff-section-group [section]="parentConfig"></diff-section-group>
        } @case (configTypes.ConfigReferance) {
        <diff-section-referance
          [section]="parentConfig"
        ></diff-section-referance>
        } }
      </td>
    </tr>
  </ng-template>
</p-table>
}
