.item {
  border-top: 5px solid #229799;
  border-right: 1px solid #999;
  padding: 0 1rem;
  text-align: right;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.founded {
    border-top-color: #48cfcb;
  }

  &.remain {
    border-top-color: #f5f5f5;
  }
  & p {
    margin: 0.5rem 0;
    color: white;
  }
}
