@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rowdies:wght@300;400;700&display=swap");

body {
  height: 100vh;
  background-color: #293133;
  color: #8fbbbc;
}

.honk {
  font-family: "Honk", system-ui;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}
