@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Roboto&display=swap");

.honk {
  font-family: "Honk", system-ui;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}
