<ng-container *rxLet="req$; let n">
  <div
    class="flex w-full h-full"
    style="
      background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
      height: 100vh;
      width: 100vw;
    "
  >
    <div class="content">
      <div class="flex gap-10 items-center justify-center">
        <iframe
          width="500px"
          height="500px"
          src="https://send.monobank.ua/widget.html?jar=HfSCkWGoDun87SYGstsK9q594bTVYp&sendId=3PvVdHg6r&type=qr"
        ></iframe>
        <div class="info">
          <p class="honk" style="font-size: 30rem">{{ n.amount }}</p>
          <div class="flex items-center flex-col uppercase text-lg">
            <p>{{ n.description }}</p>
            <p class="honk text-6xl">{{ n.goal }}</p>
            <p>{{ n.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
