<!-- <plane></plane> -->
<!-- <canva [amount]="34045"></canva> -->
<ng-container *rxLet="req$; let n">
  <particles [amount]="n.amount"></particles>
</ng-container>

<!-- <ng-container *rxLet="req$; let n">
  <div class="flex w-full h-full items-center justify-center">
    <div class="content">
      <div class="py-4">
        <digits [number]="n.amount"></digits>
      </div>
      <div class="flex gap-10 items-center justify-center">
        <iframe
          width="500px"
          height="500px"
          src="https://send.monobank.ua/widget.html?jar=HfSCkWGoDun87SYGstsK9q594bTVYp&sendId=3PvVdHg6r&type=qr"
        ></iframe>
        <div class="info">
          <p class="honk" style="font-size: 30rem">{{ n.amount }}</p>
          <div class="flex items-center flex-col uppercase text-lg">
            <p>{{ n.description }}</p>
            <p class="honk text-6xl">{{ n.goal }}</p>
            <p>{{ n.title }}</p>
          </div>
        </div>
      </div>
      <div class="flex gap-10 items-center justify-center"></div>
    </div>
  </div>
</ng-container> -->
