<h1>Elevator</h1>
<p>
  {{ activeFloors }}
</p>

<p>
  {{ position | async | json }}
</p>

<p-selectbutton
  [options]="floorsNumbers"
  (onOptionClick)="clickingFloor($event)"
  [multiple]="true"
  optionLabel="name"
  optionValue="value"
  [(ngModel)]="activeFloors"
/>

<div class="building bg-black relative">
  <div
    class="flex flex-col items-center justify-around text-white text-sm text-center font-bold leading-6"
  >
    @for(floor of floors(); track floor){
    <div class="p-5 floor bg-slate-500 border-b-4 border-indigo-500 min-w-20">
      {{ floor }}
    </div>
    }
  </div>
  {{ position | async }}
  <div
    class="elevator bg-green-400 absolute"
    [style.top.px]="position | async"
  ></div>
</div>
