.elevator {
  transition: 3s;
  width: 5rem;
  height: 5rem;
  opacity: 0.4;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}
.floor {
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
}
